.loginBackground {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/circles.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#loginLogo {
    position: absolute;
    top: 30px;
    left: 3%;
    font-size: 70px;
    font-weight: 600;
    font-family: revert;
    color: white;
    border: 2px solid #a3c0f6;
    border-radius: 30px;
    background-color: #a3c0f6;
    text-shadow: -1px -1px 0 #a3c0f6, 1px -1px 0 #a3c0f6, -1px 1px 0 #a3c0f6, 1px 1px 0 #a3c0f6;
}

.loginCard {
    padding: 10px;
}

#loginTitle {
    padding: 20px;
    padding-bottom: 0;
    font-size: xx-large;
    font-weight: 500;
}

.loginContainer {
    display: flex;
    height: 300px;
    width: 90%;
    min-height: 250px;
    min-width: 350px;
    padding: 0 20px 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}